/* styles.css */
.app {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2rem 0;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-button {
  width: 200px;
  padding: 10px 20px;
  background-color: #fff;
  color: #000;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  border-radius: 5px;
  font-weight: 500;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.1);
}

.dropdown-button:hover {
  background-color: #f4f8fc;
  color: #16191c;
}

.dropdown-list {
  position: absolute;
  width: 99%;
  top: 102%;
  left: 0;
  background-color: #fff;
  list-style: none;
  padding: 0;
  margin: 0;
  border: 1px solid #ccc;
  border-top: 0;
  border-radius: 5px;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.1);
}

.dropdown-item {
  padding: 10px 20px;
  cursor: pointer;
  font-weight: 500;
  font-size: 1rem;
}

.dropdown-item:hover {
  background-color: #f0f0f0;
  color: #000;
}

.selected {
  background-color: #0074d9;
  color: #fff;
}
